/*
    Theme Name: Hao Wang
    Theme URI : http://www.wanghao8522.co.nz
    Author: Hao Wang
    Author URI: http://www.wanghao8522.co.nz
    Description: Hao's wordpress theme
    Version: 0.1

*/


#logo,#search{
	
	padding:30px 0;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 3px solid #009571;
}

#navigation{
	
	border-bottom: 1px solid #d7d7d7;
}

.content-box{
	
	border:1px solid #d7d7d7;
	border-top:none;
	padding:10px;
	
}

.content-box h1{
	
	font-size:15px;
	line-height:30px;
	margin-top:0;
	
}

.content-meta span,
.content-meta time{
  margin-right: 10px;
  color: #828282;
}

.content-meta img{
  width: 32px;
}

#main-content{
  margin: 20px 0;
}

.media-box{
  height: 260px;
  overflow: hidden;
}

.breadcrumb{
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
}

.icon-bow{
  display: block;
  width: 32px;
  height: 21px;
  background: #fff url(images/bow.png) no-repeat 50% 50%;
  margin: 0 auto;
  margin-top: -30px;
  padding: 0 10px;
}

.icon-bow{
  display: block;
  width: 32px;
  height: 21px;
  background: #fff url(images/bow.png) no-repeat 50% 50%;
  margin: 0 auto;
  margin-top: -30px;
  padding: 0 10px;
}


#bottom{
  background: #009571 url(images/emerald.png);
  color: #fff;
  text-shadow: 1px 1px 1px #048465;
}

.semicircle{
  background: url(images/semicircle.png) repeat-x;
  padding: 20px 0;
}

#bottom h3{
  font-size: 18px;
  color: #075442;
  text-shadow: 1px 1px 1px #03a67f;
  background: url(images/dashed-h.png) repeat-x 0 50%;
}

#bottom h3 span{
  background: url(images/emerald.png);
  padding-right: 10px;
}

.dashed-v{
  background: url(images/dashed-v.png) repeat-y 100% 0;
  padding: 0 20px 20px 0;
}


#footer{
  background: url(images/emerald-footer.png) repeat-x #097a5f;
  padding: 30px 0 20px 0;
  color: #064536;
  text-shadow: 1px 1px 1px #009571;
}


.article-title{
  margin-bottom: 30px;
}

#content{
  margin: 20px 0;
}

#content img{
  margin-bottom: 5px;
}




#comments h2{
  font-size: 18px;
}

#comments .media{
  margin-bottom: 20px;
}

#comments img{
    
    width: 32px;
}

#comments small {
    
    font-size: 12px;
}

#comments .children{
    
    margin-left: 42px;
}

#reply-title{
    
    font-size:15px;
    
}

.title-line{
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.title-line h3{
  font-size: 18px;
  line-height: 1;
  position: relative;
  bottom: -13px;
  background: #fff;
  display: inline;
  padding-right: 15px;
}


#content .gallery img{
    
    border: 1px solid ;
}

